# List of dependencies required for running the project.

fastapi        # Web API framework
pymongo        # MongoDB driver
uvicorn        # ASGI server
sqlalchemy     # ORM library
python-dotenv  # Env variables manager
pydantic       # Data validation
mariadb        # MariaDB driver
pytest         # for testing
jinja2         # for rendering templates
