# todo better with versions or without - a poser au prof
fastapi        # Web API framework
pymongo        # MongoDB driver
uvicorn        # ASGI server
sqlalchemy     # ORM library
python-dotenv  # Env variables manager
pydantic       # Data validation
